.what-you-get {
  &__content-container {
    @include flex-box(column);
    width: 80%;
    margin: 0 auto;
    &__title{
        text-align: center;
        font: 700 32px/38px $mainFont;
        color: $accentColor;
        width: 230px;
    }
    &__item {
      margin-top: 38px;
      @include flex-box(column);
      margin-top: 36px;
      &__img {
        margin-bottom: 27px;
      }
      &__description {
        &__title {
          text-align: center;
          margin-bottom: 15px;
          color: #323232;
          font: 400 16px/16px $mainFont;
        }
        &__paragraph {
          text-align: center;
          font: 400 14px/21px $offFont;
          color: #848E97;
        }
      }
    }
  }
}
