.body {
  width: 100%;
  height: 100vh;
  background-color: rgba(154, 212, 223, 0.698);
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

/* Input */
.input_container {
  margin: auto;
  width: 800px;
  height: 50vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
}

.input_wrapper {
  position: absolute;
  top: 50vh;
  left: 25vw;
  border: rgb(140, 148, 163) 4px solid;
  display: flex;
  background-image: url(../img/texture_input.jpg);
  width: 800px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px 40px 40px 5px;
}

.input_user_price {
  border-radius: 7px 30px 30px 7px;
  border: 3px cyan solid;
  height: 2em;
  width: 500px;
  font-size: 2em;
  font-style: oblique;
  color: blue;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 20px;
}
.input_user_price:focus {
  border-color: green;
}

.input_user_price-br_red {
  border-color: red;
}

/* Span pop-up with price */
.container_span_pop {
  background-color: rgb(149, 182, 190);
  height: 4em;
  border-radius: 40px;
  margin: 5px auto;
  width: 600px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.span_pop {
  border-radius: 8px;
  background-color: cornsilk;
  padding-left: 20px;
  margin-left: 70px;
  margin-right: 20px;
  color: green;
  width: 400px;
  font-size: 2em;
  font-style: italic;
}
.span_price {
  font-weight: 700;
  font-style: italic;
  color: rgba(0, 0, 0, 0.794);
  font-size: 2em;
}

/* Span pop-down Alert */
.alert_span_pop {
  position: absolute;
  top: 67vh;
  left: 40vw;
  border-radius: 30px;
  background-color: rgb(255, 0, 0);
  border: black 3px solid;
  height: 40px;
  font-size: 1.5em;
  text-align: center;
  padding-top: 10px;
  width: 300px;
  margin-top: 10px;
}

/* Крестик закрытия */
.close-btn {
  margin-right: 50px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.close-btn:before {
  content: "+";
  color: #337ab7;
  position: absolute;
  z-index: 2;
  transform: rotate(45deg);
  font-size: 50px;
  line-height: 1;
  top: -5px;
  left: 6px;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}
.close-btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #337ab7;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
  transform: scale(0.01);
}
.close-btn:hover:after {
  transform: scale(1);
}
.close-btn:hover:before {
  transform: scale(0.8) rotate(45deg);
  color: #fff;
}
