.alert-window{
    overflow: hidden;
    border: 10px solid rgb(15, 100, 100);
    border-radius: 20px;
    border-style: double;
    background-color: rgba(135, 236, 236, 0.829);
    width: 20vw;
    height: 15vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
    display: flex;
    justify-content: center;
    align-items: center;
    font: bold 1em/1em sans-serif;
    color: rgb(250, 57, 57);
    text-align: center;
    z-index: 7000;
}